<div class="container">
    <div class="row">
         <h3>
            FAQ Filter <span class="glyphicon glyphicon-filter"></span><small>With full text search</small>
        </h3>

        <div class="col-md-12">
            <div class="input-group">
                <input type="search" class="form-control faq" placeholder="Search" /> <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnFaqSearch">
                        <span class="glyphicon glyphicon-search"></span>

                </button>
                </span>
            </div>
            <br />
            <!-- /input-group -->
            <div class= "panel-group faq-list" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4 class="panel-title">
                            <span class="glyphicon glyphicon-hand-right"></span><a> Q: What kind of users is this site designed for?</a>
                        </h4>

                    </div>
                    <!-- <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                             <h3>
                                <a href= surfing>Intended Users</a></h3> -->
A: "This site is designed for two groups of people: English speaking users who want to learn Japanes, or Japanese speaking users who want to learn English."</div>
                    </div>
                </div>
                <!-- <div class="panel panel-danger">
                    <div class="panel-heading">
                         <h4 class="panel-title">
                            <span class="glyphicon glyphicon-hand-right"></span><a data-toggle="collapse" data-parent="#accordion"
                                href="#collapseOnedanger">Next Question:</a>
                        </h4> -->

                    </div>
                    <div id="collapseOnedanger" class="panel-collapse collapse">
                        <div class="panel-body">
                             <h4>
                                <a>Q: Does this site cost money?</a></h4>
A: "No, this resource is available for free!"</div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                         <h4 class="panel-title">
                            <span class="glyphicon glyphicon-hand-right"></span><a>Q: How do I search for a word?</a>
                        </h4>

                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">A: "All that needs to be done is input the word in the search bar and click search/press enter. </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                         <h4 class="panel-title">
                            <span class="glyphicon glyphicon-hand-right"></span><a>Q: Inputting Englishs word VS kanji_id</a>
                        </h4>
                        <p> A: Whether you are domestic or international, this site will return all the possible matches in either language in order to find a solution for you! </a>

                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                         <h4 class="panel-title">
                            <span class="glyphicon glyphicon-hand-right"></span><a>Q: Do I have to create an account?</a>
                        </h4>
                        <div class="panel-heading">
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">A: No, this site is available to the public.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
