<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dictionary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
    }
    .jumbotron {
      background-image: url('https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009__340.jpg');
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
    }
    .logo-small {
      color: #f4511e;
      font-size: 50px;
    }
    .logo {
      color: #f4511e;
      font-size: 200px;
    }
    .navbar {
      margin-bottom: 0;
      background-image: url('https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009__340.jpg');
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">Dictionary</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">WORD</a></li>
          <li><a href="list">LIST</a></li>
          <li><a href="help">HELP</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>FAQ Center</h1>


  </div>

  <div class="container">
    <div class="container">
      <div class="row">
           <h3>
              FAQ Filter <span class="glyphicon glyphicon-filter"></span><small>With full text search</small>
          </h3>

          <div class="col-md-12">
              <div class="input-group">
                  <input type="search" class="form-control faq" placeholder="Search" /> <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" id="btnFaqSearch">
                          <span class="glyphicon glyphicon-search"></span>

                  </button>
                  </span>
              </div>
              <br />
              <!-- /input-group -->
              <div class="panel-group faq-list" id="accordion">
                  <div class="panel panel-danger">
                      <div class="panel-heading">
                           <h4 class="panel-title">
                              <span class="glyphicon glyphicon-hand-right"></span><a data-toggle="collapse" data-parent="#accordion"
                                  href="#collapseOnedanger">Item #1-1 - jQuery2DotNet</a>
                          </h4>

                      </div>
                      <div id="collapseOnedanger" class="panel-collapse collapse">
                          <div class="panel-body">
                               <h3>
                                  <a href="http://www.jquery2dotnet.com">jQuery2DotNet</a></h3>
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
                      </div>
                  </div>
                  <div class="panel panel-success">
                      <div class="panel-heading">
                           <h4 class="panel-title">
                              <span class="glyphicon glyphicon-hand-right"></span><a data-toggle="collapse" data-parent="#accordion"
                                  href="#collapseTwo">Item #2 - Section 1.10.32 of "de Finibus Bonorum et Malorum",
                                  written by Cicero in 45 BC #1</a>
                          </h4>

                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
                      </div>
                  </div>
                  <div class="panel panel-warning">
                      <div class="panel-heading">
                           <h4 class="panel-title">
                              <span class="glyphicon glyphicon-hand-right"></span><a data-toggle="collapse" data-parent="#accordion"
                                  href="#collapseThree">Item #3 - 1914 translation by H. Rackham 1500</a>
                          </h4>

                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                      </div>
                  </div>
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                           <h4 class="panel-title">
                              <span class="glyphicon glyphicon-hand-right"></span><a data-toggle="collapse" data-parent="#accordion"
                                  href="#collapseFour">Item #4 - Full Text Seach jQuery</a>
                          </h4>

                      </div>
                      <div id="collapseFour" class="panel-collapse collapse">
                          <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

  <script>
    $(function () {
       function FullTextContains(innerText, searchTerm) {
           for (x = 0; x < searchTerm.length; x++) {
               if (innerText.toLowerCase().indexOf(searchTerm[x].toLowerCase()) >= 0) {
                   return true;
               }
           }
           return false;
       }


       $('.faq').on('keyup input', function (e) {
           var text = $.trim($(this).val());
           if (e.keyCode == 13) {
               SearchFAQ(text);
           } else if (text == '') {
               SearchFAQ('');
           }
       });

       $('#btnFaqSearch').on('click', function (e) {
           var text = $.trim($('.faq').val());
           SearchFAQ(text);
       });

       function SearchFAQ(searchTermText) {
           var searchTerm = searchTermText.split(' ');
           if (searchTermText != '') {
               $(".faq-list .panel").filter(function (index) {
                   var panelText = $.trim($(this).text());
                   if (FullTextContains(panelText, searchTerm) == true) {
                       //console.log("found it");
                       return true;
                   } else {
                       //console.log("not found");
                       $(this).slideUp();
                       return false;
                   }
               }).slideDown();
           } else {
               $(".faq-list .panel").slideDown();
           }
       }
   });
  </script>


<!-- Citations for codes
Citation 1:Theme Used
Titile: Bootstrap Theme "Company"
Author: w3school
Availability: w3school.com

Citation 2:FAQ Section
Titile: FAQ Filter
Author: jQueryDotNet
Availability: http://jsfiddle.net
-->

<!-- Citations for images used
Citation 1:Index Navigation bar and Jumbotron Image
Titile: Japanese Umbrellas
Author: DeltaWorks
License: Pixabay License (Free for commercial use)
Availability: Pixabay.com
-->
</body>
</html>
