<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="https://cdn.sstatic.net/Sites/japanese/img/favicon.ico?v=04a00a20ef29">
  <title>JWorldDict - My Lists</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">

  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table-locale-all.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/extensions/export/bootstrap-table-export.min.js"></script>

  <style>

    body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
    }
    .jumbotron {
      background-image: url('https://cdn2.wanderlust.co.uk/media/1014/cropped-miyajima-hiroshima.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131546971050000000');
      background-size: cover;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
    }

    .logo-small {
      color: #f4511e;
      font-size: 50px;
    }
    .logo {
      color: #f4511e;
      font-size: 200px;
    }
    .navbar {
      margin-bottom: 0;
      background-image: url('https://cdn2.wanderlust.co.uk/media/1014/cropped-miyajima-hiroshima.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131546971050000000');
      background-size: cover;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand">JWorldDict</p>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/list">LISTS</a></li>
            <li><a href="/help">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Welcome to List Center</h1>

</div>


<div class="container">

<input class="form-control" id="myInput" type="text" style="width: 400px" placeholder="Search for lists by name or keywords">
<br>

<a href="/add_list" target="_blank" rel="noopener" class="btn btn-success">+ Add a List</a>

<div class="table-wrapper">
  <br>
    <% if (lists.length > 0) {%>
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">List Name</th>
                    <th scope="col">List Description</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <% lists.forEach((list, index) => { %>
                    <tr>
                        <th scope="row"><%= list.list_name %></th>

                        <td><%= list.list_description%></td>
                        <td>
                              <a href="/list_detail/<%= list.list_name%>" target="_blank" rel="noopener" class="btn btn-sm btn-info">≡ Details</a>
                              <a href="/delete/<%= list.list_name%>" class="btn btn-sm btn-danger">X Delete</a>
                          </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p class="text-center">No lists found.</p>
    <% } %>
</div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<!-- Citations for codes
Citation 1:Theme Used
Titile: Bootstrap Theme "Company"
Author: w3school
Availability: w3school.com

Citation 2:Filter script
Titile: Filter Lists
Author: w3school
Availability: w3school.com

Citation 3:FAQ Section
Titile: Boostrap FAQ Accordion
Author: MTaqi
Availability: bootsnipp.com

-->

<!-- Citations for images used
Citation 1:Index Navigation bar and Jumbotron Image
Titile: Japanese Umbrellas
Author: DeltaWorks
License: Pixabay License (Free for commercial use)
Availability: Pixabay.com

-->
</body>
</html>
